
body {
	font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color:#80808042;
}
.header {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background: #f36639!important;
}

img {
    max-width: 100%;
    border-radius: 23px;
    box-shadow: 1px -1px 20px 0px;
}
.car-logo {
    width: 6%;
}
.header-logo p {
	margin-left: 7%;
    color: white;
    font-size: 42px;
}
.nav-menu a {
	color:white;
    text-decoration:none;
}
.menu  {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(96px, 89px));
}
.menu li {
    list-style: none;
    font-size: 23px;
}

.menu a:hover {
   cursor:pointer;
   color:black;
}
.wrapper {
	max-width: 1365px;
    width: 100%;
    margin: 0 auto;
}
.about {
	color: grey;
}
.block-greeting {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 117px;
    max-width: 87%;
    margin: 0 auto;
}
.block-service p{
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.content-greeting {
	font-size: 19px;
    color:grey;
}
.gallery {
	margin: 3%;
}
.block-gallery {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 54px;
    max-width: 95%;
    margin: 0 auto;
}
.title-container h1 {
    color:red;
}
.header-gallery h3 {
	font-size: 23px;
	color: red;
}
.header-gallery p {
	font-size: 23px;
}
.page-gallery {
	margin: 1%;
}
.page-gallery img {
	width: 100%;
}
.main-gallery {
    margin-top: 15%;
}
.main-gallery p {
    color:grey;
    font-size: 19px;
}
.info-block {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 19px;
    margin: 0 auto;
    max-width: 92%;
}
.item-box {
	background-color: #f36639!important;
	text-align: center;
	padding: 6%;
}
.item-box img {
	width: 23%;
}
.item-box h3 {
	color: #ffffff;
    font-family: "Ubuntu", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.item-box p {
	color: #ffffff;
}
.brand {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 98px;
    margin: 0 auto;
    text-align: center;
    max-width: 121%;
    padding: 4%;
}
.description {
	color: #888888;
    font-family: "Ubuntu", Sans-serif;
    font-size: 13px;
}
.footer-block {
	background-image: url(https://media-dmg.assets-cdk.com/websites/content/445ad522176a43c69ac1ab1f7ee0505e_1500x400.jpg); 
	display: grid;
	align-items: center;
    grid-template-columns: 1fr 1fr;
}
.footer-info {
	display: grid;
	align-items: center;
    grid-template-columns: 1fr 1fr;
}
.button-services button {
    padding: 1%;
    font-size: 27px;
    margin: 7%;
    border-radius: 0 11px;
    background: red;
    border: none;
    color:white;
    box-shadow:inset 0 10px 19px 4px;
}

.button-services button:hover {
    color:grey;
}

.page-one {
	text-align: center;
}
.page-one img {
	width: 20%;
    margin-left: 5%;
}
.footer-content h3 {
	font-size: 34px;
	color: white;
}
.footer-bottom {
    color: white;
}