body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color:#80808042; 
}
.header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-color: #f36639!important;
}
.car-logo {
    width:6%;
}
.header-logo p {
    margin-left: 7%;
    color: white;
    font-size: 42px;
}
.nav-menu a {
    color:white;
    text-decoration:none;
}
.menu  {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(96px, 89px));
}
.menu li {
    list-style: none;
    font-size: 23px;
}
.menu a:hover {
   cursor:pointer;
   color:black;
}
.wrapper {
    max-width: 1365px;
    width: 100%;
    margin: 0 auto;
}
.blog{
    color: grey;
}
.entry-header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 auto;
    max-width: 88%;
    grid-gap: 3%;
    padding: 3%;
}
 .entry-title h3 {
    font-size: 30px;
    color:red;
 }
.line{
    width: 70%;
    margin-left: 1%;
}
.search {
    padding: 12%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #3b3d42;
}
.entry-meta {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0px;
    text-align: left;
    color: #3b3d42;
}
.color {
    color: red;
}
.entry-content p {
    font-size: 13px;
    line-height: 3;
}
.btn-content:hover {
    color: black;
}
.btn-content {
    padding: 1%;
    font-size: 26px;
    margin: 3%;
    border-radius: 0 11px;
    background: red;
    border: none;
    color: white;
    box-shadow: inset 0 10px 19px 4px;
    width: 30%;
}
.entry-content-post {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 auto;
    max-width: 57%;
    grid-gap: 4%;
}
.img-post img {
    max-width: 100%;
    width: 100%;
}
.page-post img {
    max-width: 118%;
    height: 0 auto;
    width: 100%;
}
.post-content-commentary {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.post-top {
    color:grey;
    font-size: 20px;
}
.commentary img {
    width: 5%;
}
.null {
    width: 6%;
}
img {
    max-width: 100%;
    border-radius: 23px;
    box-shadow: 1px -1px 20px 0px;
}
input {
    width: 45%;
    border: none;
    padding: 3%;
}
.footer {
    text-align: center;
}
.footer_bottom {
    text-align: center;
    color: black;
}